{name, "gen_smtp"}.
{authors, ["Andrew Thompson <andrew@hijacked.us>"]}.
{description, "A generic SMTP server and client in Erlang that can be extended via callback modules"}.
{homepage, "https://github.com/Vagabond/gen_smtp"}.
{rebar_compatible, true}.
{license, "BSD2"}.
{url, {git, "https://github.com/Vagabond/gen_smtp.git", {branch, "master"}}}.
{applications, [gen_smtp]}.
